.profile__info {
  display: flex;
  flex-wrap: wrap;
  max-width: 336px;
  margin-left: 30px;
  margin-right: auto;
}

@media screen and (max-width: 709px) {
  .profile__info {
    justify-content: center;
    max-width: 282px;
    margin: 26px 0 32px;
  }
}