.logo {
  width: 142px;
  height: 33px;
  object-fit: cover;
}

@media screen and (max-width: 917px) {
  .logo {
    padding-left: 27px;
  }
}

@media screen and (max-width: 709px) {
  .logo {
    width: 103px;
    height: 24px;
  }
}