@import url(./vendor/normalize.css);
@import url(./vendor/fonts/fonts.css);
@import url(./blocks/page/page.css);
@import url(./blocks/header/header.css);
@import url(./blocks/page/__header/page__header.css);
@import url(./blocks/logo/logo.css);
@import url(./blocks/main/main.css);
@import url(./blocks/button/button.css);
@import url(./blocks/card/card.css);
@import url(./blocks/card/__image/card__image.css);
@import url(./blocks/card/__info/card__info.css);
@import url(./blocks/card/__title/card__title.css);
@import url(./blocks/card/__like-button/card__like-button.css);
@import url(./blocks/card/__like-button/_active/card__like-button_active.css);
@import url(./blocks/card/__like-container/card__like-container.css);
@import url(./blocks/card/__like-counter/card__like-counter.css);
@import url(./blocks/card/__delete-button/card__delete-button.css);
@import url(./blocks/card/__delete-button/_hidden/card__delete-button_hidden.css);
@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__avatar-wrapper/profile__avatar-wrapper.css);
@import url(./blocks/profile/__avatar/profile__avatar.css);
@import url(./blocks/profile/__avatar-change-button/profile__avatar-change-button.css);
@import url(./blocks/profile/__info/profile__info.css);
@import url(./blocks/profile/__title/profile__title.css);
@import url(./blocks/profile/__edit-profile-button/profile__edit-profile-button.css);
@import url(./blocks/profile/__description/profile__description.css);
@import url(./blocks/profile/__add-card-button/profile__add-card-button.css);
@import url(./blocks/page/__profile/page__profile.css);
@import url(./blocks/places/places.css);
@import url(./blocks/places/__cards/places__cards.css);
@import url(./blocks/page/__places/page__places.css);
@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__copyright/footer__copyright.css);
@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/__container/popup__container.css);
@import url(./blocks/popup/__close-button/popup__close-button.css);
@import url(./blocks/popup/__caption/popup__caption.css);
@import url(./blocks/popup/__form/popup__form.css);
@import url(./blocks/popup/__form-field/popup__form-field.css);
@import url(./blocks/popup/__input/popup__input.css);
@import url(./blocks/popup/__submit-button/popup__submit-button.css);
@import url(./blocks/popup/_opened/popup_opened.css);
@import url(./blocks/popup/__zoom-container/popup__zoom-container.css);
@import url(./blocks/popup/__zoom-figure/popup__zoom-figure.css);
@import url(./blocks/popup/__zoom-image/popup__zoom-image.css);
@import url(./blocks/popup/__zoom-caption/popup__zoom-caption.css);
@import url(./blocks/popup/__input-error/popup__input-error.css);
@import url(./blocks/popup/__submit-button/_inactive/popup__submit-button_inactive.css);
@import url(./blocks/popup/__input_type_error/popup__input_type_error.css);
@import url(./blocks/entrance-form/entrance-form.css);
@import url(./blocks/entrance-form/__title/entrance-form__title.css);
@import url(./blocks/entrance-form/__input/entrance-form__input.css);
@import url(./blocks/entrance-form/__submit-button/entrance-form__submit-button.css);
@import url(./blocks/register/__clue/register__clue.css);
@import url(./blocks/header/__controls/header__controls.css);
@import url(./blocks/header/__user-info/header__user-info.css);
@import url(./blocks/header/__button/header__button.css);
@import url(./blocks/header/__button/_logged-out/header__button_logged-out.css);
@import url(./blocks/popup/__registration-image/popup__registration-image.css);
@import url(./blocks/popup/__registration-text/popup__registration-text.css);
